  <div class="keyline"></div>
  <section class="masthead">
    <header class="primary-header">
      <div class="wrap">
        <a class="logo" href="/" title="cx design manual"><img src="/img/logo_cx.png" width="202" height="32" alt="cxpartners logo"></a>
        <nav class="primary-nav">
          <ul>
            <li><a{% if page.active == "logo" %} class="active"{% endif %} href="/" title="Logo">Logo</a></li>
            <li><a{% if page.active == "typography" %} class="active"{% endif %} href="/typography.html" title="Typography">Typography</a></li>
            <li><a{% if page.active == "colour" %} class="active"{% endif %} href="/colour.html" title="Colour">Colour</a></li>
            <li><a{% if page.active == "imagery" %} class="active"{% endif %} href="/imagery.html" title="Imagery">Imagery</a></li>
            <li><a{% if page.active == "documents" %} class="active"{% endif %} href="/documents.html" title="Documents">Documents</a></li>
            <li><a{% if page.active == "emails" %} class="active"{% endif %} href="/emails.html" title="Emails">Emails</a></li>
          </ul>
        </nav><!--/primary-nav-->
      </div><!--/wrap-->
    </header><!--/primary-header-->
    <section class="message">
      <p>If you need any help or have a suggestion, contact a member of the visual design department</p>
    </section><!--/message-->
  </section><!--/masthead-->